# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

# Go
!*.go
!go.sum
!go.mod
!.golangci.yml
!**/testdata/**/*

# Task
!Taskfile.yml

# Git
!.gitattributes
!.gitignore
!.mailmap

# GitHub Actions
!.github/**/*.yml
!.github/**/*.yaml
!.github/renovate.json

# Docs
!docs/**/*.png
!docs/**/*.gif
!docs/**/*.tape
!docs/src/freeze.json
!README.md
!LICENSE

# Other
!.rumdl.toml
!.typos.toml
!codecov.yml


# ...even if they are in subdirectories
!*/
